body {
    margin: 0px;
    border: 0px;
}


/* WEB PAGE 1*/

#topBar {
    height: 52em;
    background-color: #5865f2;
}


/*list top bar style */

#logoTag {
    display: flex;
    justify-content: space-around;
}


/*section style link and images */

.selectionTag ul {
    display: flex;
    padding-top: 1.65em;
    padding-left: 18em;
    padding-right: 12em;
}

.selectionTag ul li {
    list-style: none;
    margin-right: 3.5em;
}

.selectionTag ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.selectionTag ul li:hover {
    text-decoration: underline;
    color: #ffffff;
}


/*logo img style*/

#logoTag img {
    margin-top: 1.5em;
    margin-left: 24em;
}


/*open dc button */

.btnOpendc button {
    margin-right: 21em;
    margin-top: 1.5em;
    background-color: #ffffff;
    height: 2.5em;
    width: 8em;
    border-radius: 2em;
    border: 2px solid #ffffff;
}

.btnOpendc a {
    text-decoration: none;
    color: #000000;
}

.btnOpendc button :hover {
    color: #00345c;
}


/*bootstrap dropdown style */

#dropInfo {
    margin-left: 17em;
    margin-top: 8em;
    /*devam*/
}

#dropInfo hr {
    color: #ffffff;
    width: 62em;
    margin-left: 4em;
}

#dropInfo ul {
    display: flex;
}

#dropInfo ul li {
    list-style: none;
    margin-left: 4em;
}

#dropInfo ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}


/*boostrap dropdown menu bar style */


/*dropdown list style 1 */

#dropdownMenu1 {
    background-color: #5865f2;
    border: 2px solid #5865f2;
}


/*dropdown list style 2 */

#dropdownMenu2 {
    background-color: #5865f2;
    border: 2px solid #5865f2;
}


/*dropdown list style 3 */

#dropdownMenu3 {
    background-color: #5865f2;
    border: 2px solid #5865f2;
}


/* title and rihgt images style */

#firstTagInfos {
    margin-left: 22em;
    margin-top: 3em;
}

#btmflex {
    display: flex;
}

#firstTagInfos .ınfoTitle h3 {
    color: #ffffff;
    font-size: 64px;
}

#firstTagInfos .ınfopPrgh p {
    color: #ffffff;
    font-size: 18px;
}

#firstTagInfos .rightImg img {
    margin-left: 1em;
}


/*------------------------------------------------------------------*/


/*--WEB PAGE 2 --*/

#princlesTag {
    height: 72em;
    background-color: #f2f3f2f3;
}

#princlesTag .titlePs .hthree {
    font-size: 62px;
    padding-top: 2em;
    margin-left: 5.5em;
    font-family: 'Bebas Neue', cursive;
}

#princlesTag .titlePs p {
    margin-left: 18em;
    font-size: 19px;
    opacity: 0.8;
}


/*bottom message style */

#ınfomsg {
    display: flex;
    padding-top: 3em;
}

#ınfomsgbtm {
    display: flex;
    padding-top: 3em;
}


/*------------------------------------------------------------------*/


/*msg1*/

.msgone h3 {
    margin-bottom: 0.55em;
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
    margin-left: 11.5em;
}

.msgone p {
    padding-left: 1.5em;
}


/*msg2*/

.msgtwo h3 {
    margin-bottom: 0.55em;
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
    margin-left: 11em;
}

.msgtwo p {
    padding-left: 1.5em;
}


/*msg3*/

.msgthree h3 {
    margin-bottom: 0.55em;
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
    margin-left: 11em;
}

.msgthree p {
    padding-left: 1em;
}


/*msg4*/

.msgfour h3 {
    margin-bottom: 0.55em;
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
    margin-left: 10.5em;
}

.msgfour p {
    padding-right: 12em;
}


/*------------------------------------------------------------------*/


/*-- WEB PAGE 3 --*/

#pagewb {
    height: 32em;
    background-color: #ffffff;
}

#msgall {
    display: flex;
    margin-top: 8em;
    justify-content: space-evenly;
}

#msgall .titmsg h3 {
    font-size: 42px;
    margin-bottom: 1em;
}

#msgall .titmsg p {
    font-size: 21px;
    opacity: 0.8;
}


/*link style paragraph */

.rgtlınk p {
    font-size: 18px;
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk a {
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk a:hover {
    text-decoration: underline;
    color: #00c3ff;
}


/*------------------------------------------------------------------*/


/*--WEB PAGE 4 --*/

#pagewb2 {
    height: 32em;
    background-color: #f2f3f2f3;
}

#msgall2 {
    display: flex;
    margin-top: 8em;
    justify-content: space-evenly;
}

#msgall2 .titmsg2 h3 {
    font-size: 42px;
    margin-bottom: 1em;
}

#msgall2 .titmsg2 p {
    font-size: 21px;
    opacity: 0.8;
}


/*link style paragraph */

.rgtlınk2 p {
    font-size: 18px;
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk2 a {
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk2 a:hover {
    text-decoration: underline;
    color: #00c3ff;
}


/*------------------------------------------------------------------*/


/*--WEB PAGE 5 --*/

#pagewb3 {
    height: 32em;
    background-color: #ffffff;
}

#msgall3 {
    display: flex;
    margin-top: 8em;
    justify-content: space-evenly;
}

#msgall3 .titmsg3 h3 {
    font-size: 42px;
    margin-bottom: 1em;
}

#msgall3 .titmsg3 p {
    font-size: 21px;
    opacity: 0.8;
}


/*link style paragraph */

.rgtlınk3 p {
    font-size: 18px;
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk3 a {
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk3 a:hover {
    text-decoration: underline;
    color: #00c3ff;
}


/*---------------------- */


/*--WEB PAGE 5 --*/

#pagewb4 {
    height: 32em;
    background-color: #ffffff;
}

#msgall4 {
    display: flex;
    margin-top: 8em;
    justify-content: space-evenly;
}

#msgall4 .titmsg4 h3 {
    font-size: 42px;
    margin-bottom: 1em;
}

#msgall4 .titmsg4 p {
    font-size: 21px;
    opacity: 0.8;
}


/*link style paragraph */

.rgtlınk4 p {
    font-size: 18px;
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk4 a {
    text-decoration: none;
    color: #00c3ff;
}

.rgtlınk4 a:hover {
    text-decoration: underline;
    color: #00c3ff;
}


/*<------------------------------------------------------->*/


/* bottom end tag style */

#bottomTag {
    height: 32em;
    background-color: #353535;
    display: flex;
}


/*bottom tag end style (1)*/

.btmtag1 h3 {
    margin-left: 12em;
    padding-top: 2em;
    font-size: 32px;
    color: #0077ff;
}


/*option style */


/*
.btmtag1 select {
    margin-left: 14em;
    margin-right: 16em;
    background-color: #353535;
    border: 2px solid #353535;
    font-size: 18px;
    color: #ffffff;
    width: 8em;
}
*/


/*social network icon style */


/*
.socialNet {
    display: flex;
}
*/


/*bottom tag end style (2)*/

.btmtag2 .prdct {
    margin-left: 6em;
    margin-top: 6em;
}

.prdct ul {
    font-size: 15px;
}

.prdct ul li {
    list-style: none;
}

.prdct ul li a {
    text-decoration: none;
    color: #ffffff;
}

.prdct ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.prdct .productStl {
    color: #0077ff;
}


/*bottom tag end style (3)*/

.btmtag3 .cpmnys {
    margin-left: 4em;
    margin-top: 6em;
}

.cpmnys ul {
    font-size: 15px;
}

.cpmnys ul li {
    list-style: none;
}

.cpmnys ul li a {
    text-decoration: none;
    color: #ffffff;
}

.cpmnys ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.cpmnys .companystl {
    color: #0077ff;
}


/*bottom tag end style (4)*/

.btmtag4 .resources {
    margin-left: 4em;
    margin-top: 6em;
}

.resources ul {
    font-size: 15px;
}

.resources ul li {
    list-style: none;
}

.resources ul li a {
    text-decoration: none;
    color: #ffffff;
}

.resources ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.resources .resourcesle {
    color: #0077ff;
}


/*bottom tag end style (5)*/

.btmtag5 .policies {
    margin-left: 4em;
    margin-top: 6em;
}

.policies ul {
    font-size: 15px;
}

.policies ul li {
    list-style: none;
}

.policies ul li a {
    text-decoration: none;
    color: #ffffff;
}

.policies ul li a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.policies .policiesle {
    color: #0077ff;
}


/*--my info-- */

#myInfo {
    margin-left: 1em;
    text-align: center;
    padding-bottom: 1em;
}

#myInfo a {
    text-decoration: none;
    color: #000000;
}


/* end  css code :) */